.card {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: auto;
	padding: 22px 11px;
	border-radius: 5px;
	box-shadow: var(--shadow);
	margin: 11px auto;
    background-color: #ff3860;
}

.cardSubTitle {
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.1rem;
    color: white;
}

.card p {
	font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.title {
	font-size: 22px;
	font-weight: 800;
    letter-spacing: 0.2rem;
    text-align: center;
    color: white;
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	text-align: center;
	padding: 22px 0;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 800px) {
	.card {
		width: 100%;
		margin: 0;
		margin-bottom: 22px;
	}
}

@media (min-width: 800px) and (max-width: 980px) {
	.card {
		width: 50%;
		margin: 0 auto;
		margin-bottom: 22px;
	}
}