.card {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 378px;
	padding: 22px 11px;
	border-radius: 5px;
	box-shadow: var(--shadow);
	margin: 11px 11px;
	background-color: #fff;
}

.card h5 {
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.1rem;
}

.cardSubs h5, span {
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.1rem;
	font-family: 'Roboto', sans-serif;
}

.card p {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.cardSubs p {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.title {
	font-size: 22px;
	font-weight: 800;
	letter-spacing: 0.2rem;
}

.cardSubs {
	display: flex;
	flex-direction: column;
	width: 30%;
	min-height: 225px;
	height: 100%;
	padding: 22px 11px;
	border-radius: 5px;
	margin: 11px 11px;
	justify-content: flex-end;
	box-shadow: var(--shadow);
	background-color: #fff;
}

.image {
	display: flex;
	flex: 2;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image img {
	max-width: 256px;
	max-height: 256px;
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	text-align: center;
	padding: 22px 0;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	flex-direction: column;
}

.cardSubs a {
	/* background-color: var(--pink) !important;
	color: white; */
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.message {
	margin-top: 6px;
	text-align: center;
	font-size: 12px !important;
}

@media screen and (max-width: 800px) {
	.card {
		width: 100%;
		margin: 0;
		margin-bottom: 22px;
	}
	.cardSubs {
		width: 100%;
		margin: 0;
		margin-bottom: 22px;
	}
}

@media (min-width: 800px) and (max-width: 960px) {
	.card {
		width: 45%;
		margin: 0 auto;
		margin-bottom: 22px;
	}
	.cardSubs {
		width: 45%;
		margin: 0 auto;
		margin-bottom: 22px;
	}
}