.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* align-items: center;
  justify-content: center; */
}

.column h3 {
  text-align: left !important;
  margin-bottom: 8px;
}

.column h4 {
  text-align: left !important;
  margin-bottom: 8px;
}

.row p {
  text-align: left !important;
  margin: 0 0 6px 11px;
  /* font-family: 'Roboto', sans-serif; */
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 22px;
}

.linkContainer {
  display: flex;
  margin-bottom: 30px;
}

.linkContainer svg {
  margin: 0 11px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .column {
      width: 100%;
  }
}
