@charset "utf-8";

@font-face {
    font-family: "Klinic Slab Bold";
    src: url("./assets/fonts/KlinicSlab/KlinicSlabBold.otf")
}

@font-face {
    font-family: "Klinic Slab Book";
    src: url("./assets/fonts/KlinicSlab/KlinicSlabBook.otf")
}

:root {
  // Colors
  --pink: rgb(255, 57, 68);
  --blue: rgb(77, 60, 150);
  --yellow: rgb(255, 189, 0);
  --shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
}

$family-primary: "Klinic Slab Book";

//navbar
// $navbar-background-color: rgba(232, 60, 63, 0.93);
$navbar-item-color: var(--pink);
$navbar-item-hover-color: var(--yellow);
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: var(--yellow);
$navbar-height: 5.5rem;
$navbar-item-img-max-height: 5.5rem;
$navbar-tab-hover-background-color: transparent;
$navbar-burger-color: var(--pink) !important;
// $navbar-dropdown-arrow: white;
// $navbar-dropdown-item-hover-background-color: $grey;
$navbar-breakpoint: 960px;

.navbar {
  padding: 0 28px;
}

.navbar-item {
  font-family: "Klinic Slab Bold";
  font-size: 1.1rem;
  padding: 0;
}

.navbar-burger:hover {
  background-color: transparent !important;
}

@import "../node_modules/bulma/bulma.sass";

@media screen and (max-width: 960px) {
  .navbar{
    padding: 0 0 0 11px;
  }
}