.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
  padding: 22px;
  border: 1px solid #d8d8d8;
  height: 240px;
}

.content {
  display: flex; 
  flex: 1; 
  margin-bottom: 22px;
}

@media screen and (max-width: 600px) {
	.card {
		width: 100%;
	}
}